@import '../../App.scss';

body {
    background: $c-linear;
}

.page-container {
    height: 100px;
    margin: 0 auto;
    width: 80vw;
    max-width: 1500px;
}

// Global styles for all sections

.cams {
    h1 {
        font-size: $font-large;
    }

    .text, li {
        color: $c-text;
        font-size: 16px;
        text-align: justify;
        line-height: 150%;
        text-justify: inter-word;
    }

    .intro {
        height: 80vh;
        max-height: 800px;
        display: grid;
        grid-template-columns: repeat( 12, 1fr);
        grid-template-rows: repeat( 12, 1fr);
        align-items: end;

        img {
            grid-column: 9 / 13;
            grid-row: 1 / 6;
            opacity: 0.1;
            height: 100%;
        }

        &__main-text {
            grid-column: 1 / 8;
            grid-row: 2 / 8;
        }
        &__text-bg {
            grid-column: 7 / 12;
            grid-row: 8 / 13;

            background-color: $c-blue;
            border-radius: $rad-normal;
            padding: 25px 40px;
            color: $c-text;
            font-size: 16px;
            box-shadow: 0px 25px 18px -20px rgba(0, 0, 0, 0.25);
        }
    }

    .networks {
        position: relative;
        // height: 60vh;
        margin: 100px 0;
        display: grid;
        // grid-template-columns: repeat( 12, 1fr);
        // grid-template-rows: repeat( 12, 1fr);
        align-items: end;

        img {
            width: 60vw;
            // height: 100%;
            max-width: 1000px;
            position: absolute;
            left: -30vh;
            // top: -300px;
            top: -40%;
            opacity: 0.1;
            z-index: -1;
        }

        &__text {
            width: 800px;
            margin-left: auto;
            // grid-column: 5 / 12;
            // grid-row: 1 / 13;
        }
    }

    .participate {
        height: 70vh;
        max-height: 600px;
        display: grid;
        grid-template-columns: repeat( 12, 1fr);
        grid-template-rows: repeat( 12, 1fr);
        align-items: center;
        align-content: center;

        background-color: $c-text;

        position: absolute;
        left: 0;

        img {
            grid-column: 6 / 8;
            grid-row: 2 / 4;
            margin: 0 auto;
        }

        h1 {
            text-align: center;
            grid-column: 4 / 10;
            grid-row: 4 / 5;
            margin: 0;
            color: $c-blue;
        }

        &__text-body {
            grid-column: 4 / 10;
            grid-row: 5 / 11;
            color: $c-blue;
        }

        .button-primary {
            grid-column: 4 / 10;
            grid-row: 11 / 12;
        }
    }
}


@media (max-width: $br-lg) {
.page-container {
    width: 90vw;
    max-width: 600px;
} 
.cams {
    h1 {
        font-size: $font-mob-large;
    }
    .text, li {
        font-size: $font-mob-normal;
    }
    .intro {
        height: 85vh;
        max-height: 900px;
        img {
            grid-column: 7 / 13;
            grid-row: 6 / 10;
            // opacity: 10%;
            height: 100%;
        }
        &__main-text {
            grid-column: 1 / 13;
            grid-row: 4 / 8;
        }
        &__text-bg {
            grid-column: 1 / 13;
            grid-row: 8 / 13;
            padding: 15px 20px;
            z-index: 2;
            border-radius: $rad-small;
        }
    }

    .networks {
        position: block;

        img {
            left:-40vw;
            top: -10%;
            width: 90vw;
        }

        &__text {
            margin-top: 20%;
            width: 100%;
        }
    }

    .participate {

        height: 100vh;
        &__text-body {
            grid-column: 2 / 12;
            grid-row: 5 / 11;
        }
        
        img {

            grid-column: 5 / 9;
            grid-row: 2 / 4;
        }
    }
}
}